@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #FF6500; 
    --color-secondary: #1E3E62; 
    --color-accent: #0B192C;
    --background: white;
    --foreground: #ededed;
  }
}

@layer utilities {
  .pattern {
    background-image: linear-gradient(to right,
        transparent 49.5%,
        rgba(251, 232, 67, 0.2) 49.5%,
        rgba(251, 232, 67, 0.6) 50.5%,
        transparent 50.5%);
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}